.records-library {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.record-wrapper {
    transition: all 0.05s ease-in-out;
}
.record-wrapper:hover {
    opacity: 75%;  
}
.cover-image {
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 720px) {
    .records-library {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}